<div class="mechanic-filters">
  <div class="search-box">
    <mat-icon class="search-icon">search</mat-icon>
    <input
      type="text"
      [ngModel]="search"
      (ngModelChange)="onSearchChange($event)"
      [placeholder]="'mechanics.filters.searchPlaceholder' | translate"
      class="custom-search-input"
    />
  </div>

  <mat-select
    [ngModel]="specialty"
    (ngModelChange)="onSpecialtyChange($event)"
    [placeholder]="'mechanics.filters.specialtyPlaceholder' | translate"
    class="filter-select"
  >
    <mat-option [value]="null">{{ 'common.all' | translate }}</mat-option>
    <mat-option *ngFor="let option of specialtyOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
</div>
