<div class="mechanic-filters">
  <mat-form-field appearance="outline" class="search-box">
    <mat-label>
      {{ 'MECHANIC_FILTERS.SEARCH_LABEL' | translate }}
    </mat-label>

    <mat-icon matPrefix>search</mat-icon>

    <input
      matInput
      [ngModel]="search"
      [placeholder]="'MECHANIC_FILTERS.SEARCH_PLACEHOLDER' | translate"
      (ngModelChange)="onSearchChange($event)" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="specialty-filter">
    <mat-label>
      {{ 'MECHANIC_FILTERS.SPECIALTY_LABEL' | translate }}
    </mat-label>

    <mat-select
      [ngModel]="specialty"
      (ngModelChange)="onSpecialtyChange($event)">

      <mat-option [value]="null">
        {{ 'MECHANIC_FILTERS.ALL' | translate }}
      </mat-option>

      @for (option of specialtyOptions; track option) {
        <mat-option [value]="option">
          {{ option }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>