<section class="work-orders-page">
  <div class="work-orders-header">
    <div>
      <span class="eyebrow">
        {{ 'WORK_ORDER_LIST.WORKSHOP_OPERATION' | translate }}
      </span>

      <h1>
        {{ 'WORK_ORDER_LIST.TITLE' | translate }}
      </h1>

      <p>
        {{ 'WORK_ORDER_LIST.DESCRIPTION' | translate }}
      </p>
    </div>

    <button
      mat-flat-button
      color="primary"
      type="button"
      class="add-button"
      (click)="goToCreateOrder()">

      <mat-icon>add</mat-icon>
      {{ 'WORK_ORDER_LIST.NEW_ORDER' | translate }}
    </button>
  </div>

  <div class="summary-row">
    <div class="summary-card">
      <span>{{ 'WORK_ORDER_LIST.TOTAL_ORDERS' | translate }}</span>
      <strong>{{ workOrderStore.workOrders().length }}</strong>
    </div>

    <div class="summary-card">
      <span>{{ 'WORK_ORDER_LIST.IN_PROGRESS' | translate }}</span>
      <strong>{{ activeOrders() }}</strong>
    </div>

    <div class="summary-card warning">
      <span>{{ 'WORK_ORDER_LIST.DELAY_RISK' | translate }}</span>
      <strong>{{ riskOrders() }}</strong>
    </div>

    <div class="summary-card">
      <span>{{ 'WORK_ORDER_LIST.FINISHED' | translate }}</span>
      <strong>{{ completedOrders() }}</strong>
    </div>
  </div>

  <app-work-order-filters
    class="filters-section"
    [search]="search()"
    [status]="selectedStatus()"
    [statusOptions]="statusOptions"
    (searchChange)="onSearchChange($event)"
    (statusChange)="onStatusChange($event)">
  </app-work-order-filters>

  @if (workOrderStore.isLoading()) {
    <div class="empty-state">
      <mat-icon class="spin">sync</mat-icon>
      <p>{{ 'WORK_ORDER_LIST.LOADING' | translate }}</p>
    </div>
  } @else if (filteredOrders().length) {
    <div class="orders-grid">
      @for (order of filteredOrders(); track order.id) {
        <app-work-order-card
          class="order-card-wrapper"
          [order]="order"
          (viewDetail)="viewDetail($event)">
        </app-work-order-card>
      }
    </div>
  } @else {
    <div class="empty-state">
      <mat-icon>assignment</mat-icon>

      <h3>
        {{ 'WORK_ORDER_LIST.NO_ORDERS_FOUND' | translate }}
      </h3>

      <p>
        {{ 'WORK_ORDER_LIST.EMPTY_DESCRIPTION' | translate }}
      </p>
    </div>
  }
</section>