<div class="vehicle-filters">
  <div class="search-box">
    <mat-icon class="search-icon">search</mat-icon>
    <input
      type="text"
      [ngModel]="search"
      (ngModelChange)="onSearchChange($event)"
      [placeholder]="'vehicles.filters.searchPlaceholder' | translate"
      class="custom-search-input"
    />
  </div>

  <mat-select
    [ngModel]="status"
    (ngModelChange)="onStatusChange($event)"
    [placeholder]="'vehicles.filters.statusPlaceholder' | translate"
    class="filter-select"
  >
    <mat-option [value]="null">{{ 'vehicles.filters.statusPlaceholder' | translate }}</mat-option>
    <mat-option *ngFor="let option of statusOptions" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>

  <mat-select
    [ngModel]="sortBy"
    (ngModelChange)="onSortByChange($event)"
    [placeholder]="'vehicles.filters.sortPlaceholder' | translate"
    class="filter-select"
  >
    <mat-option [value]="null">{{ 'vehicles.filters.sortPlaceholder' | translate }}</mat-option>
    <mat-option *ngFor="let option of sortOptions" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
</div>
